<div class="card">
  <h2>create new blog</h2>
  <div class="blog-content">
    <%= form_for @blog do |f| %>
      <div>Title</div>
      <div><%= f.text_field :title %></div>
      <div>Content</div>
      <div><%= f.text_area :content %></div>
      <div><%= f.submit "Publish Blog"%></div>
    <%end%>
  </div>
</div>
