
<h2>edit your comment</h2>

<% comment = Comment.find(params[:id]) %>
<% blog = Blog.find(params[:blog_id]) %>

<%= form_for [blog,comment] do |f| %>

    Content:<%= f.text_field :content %>

    <%= f.submit "publish changes"%>

<%end%>
<%= link_to 'delete', blog_comment_path(comment), method: :delete,
                         data: { confirm: 'Are you sure?' } %>
