/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 *{
   box-sizing: border-box;
   font-family: 'Montserrat', sans-serif;
   text-align: center;
 }
 body{
   background-color: #E4EABE;
 }
 *:before,
 *:after {
  box-sizing: border-box;
 }
 html,
 body {
  height: 100%;
  position: relative;
 }
 .main-container {
  min-height: 100vh;
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 40px;
 }
 footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  text-align: center;
  /* border: solid 2px black; */
 }
 a {
   /* background-color: black; */
   /* color: white; */
   /* padding: 2px; */
   font-weight: bold;
   text-decoration: none;
   font-size: 15px !important ;
   margin: 5px;
 }
 .nav-links {
   background-color: black;
   color: white;
   font-weight: bold;
   border-radius: 5px;
   padding: 5px;
   text-decoration: none;
   margin-top: 20px;
   font-size: 20px !important;
   font-family: 'Kalam', cursive;
 }
 #pg-title{
   font-family: 'Fredericka the Great', cursive;
   font-size: 60px;
   margin-bottom: 10px;
 }
 .blog-title {
   font-size: 40px;
   color: white;
   /* font-weight: bold; */
   font-family: 'Kalam', cursive;
   /* font-family: 'Schoolbell', cursive; */
 }
 textarea {
   width: 80%;
   height: 100px;
   text-align: left;
 }
